.title{

 
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 56px;
    /* or 117% */
    
    text-align: center;
    
    color: #000000;
    }